<header>
    <h1>Angular-applikation</h1>
    <div class="navmenu">
      <nav class="menu">
        <ul class="headmenu">
          <li><a routerLink="/home" routerLinkActive="current">Startsida</a></li>
          <li><a routerLink="/convertion" routerLinkActive="current">Konvertera värden</a></li>
          <li><a routerLink="/description" routerLinkActive="current">Uppgiftsbeskrivning</a></li>
        </ul>
      </nav>
    </div>
      <button class="menu-btn open" (click)="toggleMenu()" *ngIf="!isMenuOpen"> 
        <span class="menu-icon"> 
            <span class="bars"></span> 
            <span class="bars"></span> 
            <span class="bars"></span> 
        </span> 
        <span class="menutext">Meny</span> 
        </button> 
        <button class="menu-btn close" (click)="toggleMenu()" *ngIf="isMenuOpen"> 
        <span class="menu-icon"> 
            <span class="bars cross1"></span> 
            <span class="bars cross2"></span> 
        </span> 
        <span class="menutext">Stäng meny</span> 
        </button> 
        <nav class="mobile-menu" id="nav-menu" *ngIf="isMenuOpen"> 
            <ul class="mobilmenu">
                <li><a routerLink="/home" routerLinkActive="current">Startsida</a></li>
                <li><a routerLink="/convertion" routerLinkActive="current">Konvertera värden</a></li>
                <li><a routerLink="/description" routerLinkActive="current">Uppgiftsbeskrivning</a></li>
            </ul>
        </nav>
</header>