footer {
    background-color: red;
    color: white;
    text-align: center;
    margin: 0;
    font-size: medium;
    margin-top: 4em;
}
@media (min-width: 601px) {
    footer {
        padding: 2em;
    }
}
@media (max-width: 600px) {
    footer {
        padding: 1em;
    }
}