<h2>Konvertera värden</h2>

<div class="metersToFeet">
    <h3>Meter till feet</h3>
    <label for="meter">Meter:</label>
    <input type="number" [(ngModel)]="meter">
    <button class="convertMToFButton" (click)="metersToFeet()">Konvertera</button>
    <p>Fahrenheit: {{ meterResult }}</p>
</div>
<div class="feetToMeters">
    <h3>Feet  till meter:</h3>
    <label for="feet">Feet:</label>
    <input type="number" [(ngModel)]="feet">
    <button class="convertFToMButton" (click)="feetToMeters()">Konvertera</button>
    <p>Resultat: {{ feetResult }}</p>
</div>
<div>
    <h3>Celsius till fahrenheit</h3>
    <label for="celsius">Celsius:</label>
    <input type="number" [(ngModel)]="celsius">
    <button class="convertCToFButton" (click)="celsiusToFahrenheit()">Konvertera</button>
    <p>Resultat: {{ celsiusResult}}</p>
</div>
<div>
    <h3>Fahrenheit till celsius</h3>
    <label for="fahrenheit">Fahrenheit:</label>
    <input type="number" [(ngModel)]="fahrenheit">
    <button class="convertFToCButton" (click)="fahrenheitToCelsius()">Konvertera</button>
    <p>Resultat: {{ fahrenheitResult}}</p>
  </div>