<h2>Uppgiftsbeskrivning</h2>

<div class="text">
<p>I denna uppgift har jag utvecklat en Angular-applikation med fokus 
    på att skapa en responsiv webbplats med både en desktop- och en mobilmeny, 
    samt en undersida för konvertering av värden.</p>

<h3>Såhär har jag löst uppgiften:</h3>
<ol>
    <li><p>Jag byggde upp applikationen med hjälp av Angular-komponenter och 
        använde Angular Router för att kunna navigera mellan olika undersidor, 
        Startsida, Konvertera värden och Uppgiftsbeskrivning.</p></li>
    <li><p>För att hantera navigationen på olika skärmstorlekar använde jag 
        både en desktop-meny och en mobilmeny. Mobilmenyn styrs med hjälp av 
        databindning och en variabel (isMenuOpen) i komponenten, vilket gör 
        att menyn kan öppnas och stängas med en knapp. Jag använde också CSS 
        media queries för att styra vilka menyer som visas på olika skärmstorlekar.</p></li>
    <li><p>På sidan Konvertera värden implementerade jag funktioner för att omvandla:
        "meter" till "feet" och från "celsius" till "fahrenheit" (och vice versa).
        Jag använde Angulars databindning ([(ngModel)]) för att koppla input-fälten 
        till variabler i komponenten och knappar som triggar metoder för konverteringen. 
        Resultaten visas sedan direkt i gränssnittet.</p></li>
</ol>

<h3>Slutsatser:</h3>
<p>Sammanfattningsvis har uppgiften gett mig en tydligare förståelse för Angulars grunder 
    och hur man kombinerar komponenter, databindning och CSS för att skapa en fungerande 
    och användarvänlig webbapplikation.</p>
</div>