<h2>Startsida</h2>

<div class="me">
<img [src]="portrattImage" alt="Ängla Juliusson">
<p>- "Detta är min första angular-applikation!"</p>
</div>

<p>Nedan visar jag lite bilder från min sommar:</p>
<img [src]="boatImage" alt="Båt på en sjö i solnedgången">
<img [src]="flowersImage" alt="Blombukett i LEGO">
<img [src]="houseImage" alt="Frgglada hus i Smögen">
<img [src]="ozzyImage" alt="Ozzy på toppen av Laisvikberget">
<img [src]="sunsetImage" alt="Solnedgång">
<img [src]="raceImage" alt="Ängla Juliusson & Ozzy">